div.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

#creatorBox {
  display: flex;
  align-self: flex-end;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1rem;
}