div#single-review-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  justify-content: flex-start;
}

h2.page-name {
  color: var(--color-text);
}

div#single-review-container div.movie-card {
  display: flex;
  flex-direction: row;
  flex: 0 1 10rem;
  pointer-events: none;
  align-self: center;
  margin: 0 1.5rem;
  max-width: 30rem;
  width: calc(100% - 3rem);
  box-shadow: none;
}

div#single-review-container div.movie-card h3 {
  font-size: 1.6rem;
}

div#single-review-container h2.page-name {
  align-self: center;
  max-width: 40rem;
}

div#single-review-container img {
  width: 7rem;
  height: auto;
  object-fit: contain;
  object-position: top;
  flex: 0 1 7rem;
}

div#single-review-container div.review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: auto;
  margin: 1.2rem 0.5rem 2rem;
  max-width: 40rem;
  width: calc(100% - 1rem);
  align-self: center;
}

div.review h4 {
  color: var(--color-text);
}

div#single-review-container div.review h4 {
  font-size: 1.5rem;
  align-self: center;
  margin-top: 0.3rem;
}

div#single-review-container p {
  color: #000;
  white-space: pre-line;
  background-color: var(--color-surface);
  padding: 1rem;
  border-radius: 0.6rem;
  flex: 1 1 0px;
}